.movieList {
  margin-top: 150px;
}

.movieList__posters {
  display: flex;
  flex-wrap: wrap;
  width: 1519.2px;
  justify-content: space-evenly;
}

.movieList__poster {
  max-width: 100%;
  object-fit: contain;
  height: 255px;
  width: 170px;
  transition: transform 450ms;
  margin: 5px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.movieList__poster:hover {
  transform: scale(1.08);
  cursor: pointer;
}
